.primary__text-top {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: #7AC751;
    margin: 0 0 6px 0;
}