.special__price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.005em;
    color: #7AC751;
    margin-right: 7px;
}