.offer__link {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62px;
    color: #757575;
    text-decoration: none;
    cursor: pointer;
}