.footer__down-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #555555;

    &_copyright {
        flex-basis: 892px;
    }
}