.blog__date {
    display: inline-block;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.008em;
    color: #FFFFFF;
}