.testimonials__autor-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.005em;
    color: #515151;
}