.product__card-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.005em;
    color: #11142D;
    max-width: 269px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 13px;
}