.blog__item-header {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 1.2;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    margin: 20px 0;
    max-width: 85%;
}