.special__discount {
    width: 64px;
    height: 23px;
    background: #00B7F1;
    border-radius: 0px 0px 0px 5px;
    margin-left: auto;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.008em;
    color: #FFFFFF;
}