.special__item-header {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.27;
    color: #555555;
    margin: 5px 0 0 0;
    max-width: 227px;
}