.offer__price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #7AC751;
    margin: 10px 0 13px 0;
    span {
        font-weight: 700;
    }
}