.special__button {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 26px;
    align-items: center;
    color: #FFFFFF;
    background: #7AC751;
    border-radius: 2px;
    padding: 0 10px;
    border: none;
}