.section-header {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    text-transform: uppercase;
    color: #555555;
    text-align: center; 
    margin: 0;
}