.offer__item-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    /* background: url('@img/furniture__offer.jpg') center center/cover no-repeat; */
    width: 100%;
    height: 511px;
    padding: 49px 0 0 31px;
}