.products__cards-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 20px;
    background: #7AC751;
    border-radius: 0px 0px 5px 0px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.008em;
    color: #FFFFFF;
    z-index: 3;

}